body{
    font-family:Arial;
    background:#f4f4f4;
}

.container{
    width:70%;
    margin:auto;
    background:white;
    padding:20px;
    margin-top:30px;
    border-radius:10px;
}

input,
textarea,
select{

    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:15px;
}

button{

    padding:10px 15px;
    cursor:pointer;
    margin-right:10px;
}

pre{

    background:#eeeeee;
    padding:20px;
    white-space:pre-wrap;
}